<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright: 2018 digiBlitz Foundation
  
  License: digiBlitz Public License 1.0 (DPL) 
  Administered by digiBlitz Foundation. www.digiblitz.org/dpl/
  
  Inventor: Suresh Kannan (Maya Suresh Kannan Balabisegan ) (www.sureshkannan.org)
  
  Authors: Suresh Kannan (Maya Suresh Kannan Balabisegan )& digiBlitz.
  
  "Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software in accordance to the rules & restrictions of the digiBlitz Public License."
-->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
   <display-name>Main Application</display-name>
	<servlet>
    <servlet-name>spring</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
   
    <init-param>
      <param-name>spring</param-name>
      <param-value>/WEB-INF/spring-servlet.xml</param-value>
    </init-param>
   
    <load-on-startup>1</load-on-startup>
    </servlet>
 
  <servlet-mapping>
    <servlet-name>spring</servlet-name>
    <url-pattern>*.html</url-pattern>
  </servlet-mapping>
     
  <welcome-file-list>
    <welcome-file>
      jsp/frmHome.jsp
    </welcome-file>
  </welcome-file-list>
  
 <!-- <servlet>
 <servlet-name>publisher</servlet-name>
 <servlet-class>com.contactUsers.EndPointPublisher</servlet-class>
 <load-on-startup>2</load-on-startup>
 </servlet> -->
 
</web-app>
